#main{
    text-align: center;
    border: solid black 3px;
    width: 100% !important;
    height: 100% !important;
    background-color: rgb(31, 30, 30) !important;
    color: white !important;
}

#navibar{
    background-color: #355f4d !important;
    border: solid black 2px;
}

#navibar table tbody{
    background-color: #355f4d !important;
}

#bis{
    text-align:justify ;
    border: solid black 2px;
}

#menu{
    background-color: rgb(31, 30, 30) !important;
    border: solid black 2px;
}

#menu td.encabezadoMenu{
    border-bottom: 0px !important;
    background-color: rgb(31, 30, 30) !important;
    text-align:center !important;
    padding: 5px !important;
    font-weight: normal !important;
}

#menu td.subitem{
    background-color: rgb(31, 30, 30) !important;
    border: solid black 2px;
}

#menu td.varios{
    background-color: rgb(31, 30, 30) !important;
    border: solid black 2px;
    padding: 17px 5px 17px 5px !important;
}

#menu td.item{
    border-bottom: 0px !important;
}

#content{
    background-color: rgb(31, 30, 30) !important;
    border: solid black 2px;
}

#header{
    background-color: black !important;
}

table{
    border-collapse: collapse !important;
    table-layout: auto !important;
    width: 100% !important;
}

a{
    color: white !important;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
}

textarea{
    background-color: rgb(31, 30, 30) !important;
    width: 99% !important;
    border: solid black 2px;
    color: white;
}

select{
    background-color: slategray;
    cursor: pointer;
    border: solid black 2px;
    font-size: 12px !important;
    height: 25px;
    width: 250px !important;
    margin: auto;
    color: white;
    text-align: center;
}

option{
    background-color: slategray;
    cursor: pointer;
    border: solid black 2px;
    font-size: 12px !important;
    height: 25px!;
    width: 250px !important;
    margin: auto
}

input{
    background-color:slategray;
    border: solid black 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px !important;
    height: 20px;
    width: 354px !important;
    margin: auto;
    color: white;
    text-align: left;
}

button{
    background-color:slategray;
    border: solid black 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px !important;
    height: 30px;
    width: 200px !important;
    margin: auto;
    color: white;
}

body{
    background-color: rgb(31, 30, 30);
}

tbody{
    background-color: rgb(31, 30, 30);
}

a.variositem{
    background-color: rgb(31, 30, 30) !important;
}

.ui-state-error{
    background: slategray !important;
    padding: auto !important;
    font-size: 12px !important;
    font-family: Arial, Helvetica, sans-serif;
    border: solid black 2px;
}

.loginText{
    background-color:slategray;
    border: solid black 2px;
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 10px !important;
    margin: auto;
    text-align: left;
}

.tablaMenu{
    background-color: rgb(31, 30, 30) !important;
}

.celda{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    background-color: rgb(31, 30, 30) !important;
    border: solid black 2px;
    text-align: left !important;
    padding: 5px;
}

.etiqueta{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    color: white !important;
}

.datos{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    color: white !important;
    font-size: 12px !important;
}

.ui-helper-reset{
    border: 0px !important;
    background-color: rgb(31, 30, 30) !important;
}

.ui-widget-content{
    border: 0px !important;
    background: rgb(31, 30, 30) !important;
}

.encabezado{
    background-color: #355f4d !important;
    border: solid black 2px !important;
}

.ui-accordion .ui-accordion-content{
    padding: 0px !important;
    margin: 0px !important;
}

.ui-accordion .ui-accordion-header a{
    background:#355f4d !important;
    border: solid black 2px !important;
    text-align: center !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    border: solid rgb(31, 30, 30) 0px !important;
}

a.nivel1, a.nivel2, a.nivel3, a.nivel4, a.nivel5, a.nivel6, a.nivel7, a.nivel8, a.nivel9, a.nivel10{
    padding: 2px 5px 2px 5px !important;
    background-color: #355f4d !important;
    border: solid black 2px !important;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error{
    text-align: center !important;
    border: 2px solid #cd0a0a !important;
}

td.subitem{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 12px !important;
    line-height: normal !important;
}

input::placeholder{
    color: white !important;
}

#accordion > div:nth-child(2) > div{
    color: white !important;
}

#accordion > div:nth-child(1) > div{
    color: white !important;
}

#datosExtras > table > tbody > tr:nth-child(31) > td:nth-child(2) > span > input[type=text]{
    width: 99% !important;
}
